
page{
    background:rgba(69,130,244,1);
    padding: 0;
    // height: auto;
    // overflow-y: auto;
   
    .buymembermain{
        // padding: 0 30px;
        // box-sizing: border-box;
        padding-bottom: 100px;
        
        .buytop{
            width: 100%;
            height: 270px;
            background: url(http://jic.makepolo.net/img15/hyldy/wap_top_bg.png) no-repeat;
            background-size: 100%100%;
        }
        .buytitle{
            background: url(./assets/title_bg.png) no-repeat;
            height: 124px;
            width: 700px;
            margin: -30px auto 30px auto;
            text-align: center;
            padding-top: 15px;
            background-size: 100%100%;
            span{
                font-size:36px;
                font-family:Source Han Sans CN;
                font-weight:800;

                color:rgba(255,255,255,1);
                i{
                    font-style: normal;
                    color: #FF7000;
                    
                }
                i:nth-child(2){
                    text-decoration:line-through;
                }
                
            }
        }
        .memberbox{
            margin: 0 auto;
            width:650px;
            height:361px;
            background:rgba(255,255,255,1);
            border-radius:12px;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .diamon{
                width: 560px;
                height: 219px;
                background: url('http://jic.makepolo.net/img15/diamon_bg.png') no-repeat;
                
                background-size: 100%100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 85px 0 30px;
                box-sizing: border-box;
                justify-content: space-between;
                position: relative;
                .topimg{
                    width: 86px;
                    height: 36px;
                    position: absolute;
                    top: -5px;
                    left: -20px;
                }
                .payicon{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .iconimg{
                        width: 54px;
                        height: 50px;
                    }
                    span{
                        font-size:30px;
                        margin-top: 10px;
                        font-family:PingFang SC;
                        font-weight:400;
                        color:rgba(252,78,51,1);
                    }
                }
                .paydiv{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size:24px;
                    font-family:Alibaba PuHuiTi;
                    font-weight:400;
                    color:rgba(255,85,85,1);
                    span:nth-child(2){
                        margin: 10px 0;
                        text-decoration: line-through;
                    }
                }    
            }
            
            .diamonbtn{
                font-size:30px;
                font-family:Microsoft YaHei;
                font-weight:400;
                color:rgba(255,255,255,1);
                width:480px;
                height:60px;
                line-height: 60px;
                text-align: center;
                background:rgba(255,74,0,1);
                border-radius:27px;
                margin-top: 10px;
            }

            .black{
                width: 560px;
                height: 219px;
                background: url('http://jic.makepolo.net/img15/black_bg.png') no-repeat;
                
                background-size: 100%100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 85px 0 35px;
                box-sizing: border-box;
                justify-content: space-between;
                .payicon{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .iconimg{
                        width: 54px;
                        height: 50px;
                    }
                    span{
                        font-size:30px;
                        margin-top: 10px;
                        font-family:PingFang SC;
                        font-weight:400;
                        color:rgba(255,255,255,1);
                    }
                }
                .paydiv{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size:24px;
                    font-family:Alibaba PuHuiTi;
                    font-weight:400;
                    color:rgba(255,255,255,1);
                    span:nth-child(2){
                        margin: 10px 0;
                        text-decoration: line-through;
                    }
                    span:nth-child(3){
                        color:rgba(255,203,90,1);
                    }
                }    
            }
            .blackbtn{
                font-size:30px;
                font-family:Microsoft YaHei;
                font-weight:400;
                color:rgba(126,76,0,1);
                width:480px;
                height:60px;
                line-height: 60px;
                text-align: center;
                background:rgba(255,195,86,1);
                border-radius:27px;
                margin-top: 10px;
            }


        }
        .typetitle{
            width: 680px;
            height: 100px;
            // line-height: 100px;
            padding-top: 15px;
            text-align: center;
            margin: 0 auto;
            background: url(./assets/tq_bg.png) no-repeat;
            background-size: 100%100%;
            font-size:36px;
            font-family:Source Han Sans CN;
            font-weight:800;
            color:rgba(255,255,255,1);
        }

        .memberservice{
            width:703px;
            // height:2460px;
            background:rgba(255,255,255,1);
            border-radius:12px;
            margin: 20px auto;
            .tabletop{
                display: flex;
                flex-direction: row;
                height: 210px;
                view:nth-child(1){
                    font-size:34px;
                    width:142px;
                    font-family:PingFang SC;
                    font-weight:400;
                    color:rgba(101,101,101,1);
                }
                view:nth-child(2){
                    width:160px;
                    background:rgba(245,247,247,1);
                    span:nth-child(2){
                        font-size:34px;
                        font-family:PingFang SC;
                        font-weight:400;
                        color:rgba(101,101,101,1);
                    }
                    span:nth-child(3){
                        font-size:36px;
                        font-family:Alibaba PuHuiTi;
                        font-weight:400;
                        color:rgba(255,69,69,1);
                    }
                }
                view:nth-child(3){
                    width:200px;
                    background:rgba(255,233,233,1);
                    span:nth-child(2){
                        font-size:34px;
                        font-family:PingFang SC;
                        font-weight:400;
                        color:rgba(255,75,75,1);
                    }
                    span:nth-child(3){
                        font-size:30px;
                        font-family:Alibaba PuHuiTi;
                        font-weight:400;
                        color:rgba(255,69,69,1);
                    }
                    span:nth-child(4){
                        font-size:24px;
                        font-family:Alibaba PuHuiTi;
                        font-weight:400;
                        text-decoration:line-through;
                        color:rgba(101,101,101,1);
                    }
                }
                view:nth-child(4){
                    width:200px;
                    background:rgba(255,238,213,1);
                    border-radius:0px 12px 0px 0px;
                    span:nth-child(2){
                        font-size:34px;
                        font-family:PingFang SC;
                        font-weight:400;
                        color:rgba(125,75,0,1);
                    }
                    span:nth-child(3){
                        font-size:30px;
                        font-family:Alibaba PuHuiTi;
                        font-weight:400;
                        color:rgba(255,69,69,1);
                    }
                    span:nth-child(4){
                        font-size:24px;
                        font-family:Alibaba PuHuiTi;
                        font-weight:400;
                        text-decoration:line-through;
                        color:rgba(101,101,101,1);
                    }
                }
                .toptitle{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    image{
                        width: 30px;
                        height: 34px;
                    }
                    .micon{
                        width: 34px;
                    }
                }
            }

            .tablebottom{
                display: flex;
                flex-direction: row;
                height: 210px;
                view:nth-child(1){
                    font-size:34px;
                    width:142px;
                    font-family:PingFang SC;
                    font-weight:400;
                    color:rgba(101,101,101,1);
                }
                view:nth-child(2){
                    width:160px;
                    background:rgba(245,247,247,1);
                    span:nth-child(2){
                        font-size:34px;
                        font-family:PingFang SC;
                        font-weight:400;
                        color:rgba(101,101,101,1);
                    }
                    span:nth-child(3){
                        font-size:36px;
                        font-family:Alibaba PuHuiTi;
                        font-weight:400;
                        color:rgba(255,69,69,1);
                    }
                }
                view:nth-child(3){
                    width:200px;
                    background:rgba(255,233,233,1);
                    span:nth-child(2){
                        font-size:34px;
                        font-family:PingFang SC;
                        font-weight:400;
                        color:rgba(255,75,75,1);
                    }
                    span:nth-child(3){
                        font-size:30px;
                        font-family:Alibaba PuHuiTi;
                        font-weight:400;
                        color:rgba(255,69,69,1);
                    }
                    span:nth-child(4){
                        font-size:24px;
                        font-family:Alibaba PuHuiTi;
                        font-weight:400;
                        text-decoration:line-through;
                        color:rgba(101,101,101,1);
                    }
                }
                view:nth-child(4){
                    width:200px;
                    background:rgba(255,238,213,1);
                    border-radius:0px  0px 12px 0px;
                    span:nth-child(2){
                        font-size:34px;
                        font-family:PingFang SC;
                        font-weight:400;
                        color:rgba(125,75,0,1);
                    }
                    span:nth-child(3){
                        font-size:30px;
                        font-family:Alibaba PuHuiTi;
                        font-weight:400;
                        color:rgba(255,69,69,1);
                    }
                    span:nth-child(4){
                        font-size:24px;
                        font-family:Alibaba PuHuiTi;
                        font-weight:400;
                        text-decoration:line-through;
                        color:rgba(101,101,101,1);
                    }
                }
                .toptitle{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    image{
                        width: 30px;
                        height: 34px;
                    }
                    .micon{
                        width: 34px;
                    }
                }
            }




            .allservice{
            
                display: flex;
                flex-direction: row;
                .typeul{
                    width: 142px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                   
                    span{
                        padding: 30px 15px;
                        
                        text-align: center;
                        font-size:29px;
                        font-family:Alibaba PuHuiTi;
                        font-weight:400;
                        color:rgba(102,102,102,1);
                    }
                    span:nth-child(even){
                        background:rgba(252,251,250,1);
                    }
                }
                .freeul{
                    width: 160px;
                    view:nth-child(even){
                        background:rgba(252,251,250,1);
                    }
                    
                    view{
                        padding: 47px 0 48px 0;
                        text-align: center;
                        width: 100%;
                        
                        span{
                            width: 100%;
                            
                            display: inline-block;
                            font-size:28px;
                            font-family:Alibaba PuHuiTi;
                            font-weight:400;
                            color:rgba(102,102,102,1);
                           
                        }
    
                        .nicon{
                            
                            width: 26px;
                            height: 26px;
                            
                        }
                        
                        
                    }
                    .freeitem3{
                        padding: 86px 0 85px 0;
                    }
                    .freeitem5{
                        padding: 86px 0 85px 0;
                    }
                    .freeitem6{
                        padding: 66px 0;
                    }
                    .freeitem8{
                        padding: 66px 0;
                    }
                    .freeitem11{
                        padding: 66px 0;
                    }
                    .freeitem13{
                        padding: 66px 0;
                    }
                    
                }
                .diamonul{
                    display: flex;
                    flex-direction: column;
                    width: 200px;
                    .diamonitem{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        span:nth-child(1){
                            font-size:28px;
                            font-family:Alibaba PuHuiTi;
                            font-weight:400;
                            color:rgba(255,69,69,1);
                        }
                        span:nth-child(2){
                            font-size:24px;
                            font-family:Alibaba PuHuiTi;
                            font-weight:400;
                            color:rgba(101,101,101,1);
                        }
                        .img10{
                            width: 84px;
                            height: 19px;
                        }
                        .img12{
                            width: 26px;
                            height: 26px;
                        }
                        .img13{
                            width: 26px;
                            height: 26px;
                        }
                        .img14{
                            width: 26px;
                            height: 26px;
                        }

                    }
                    view{
                        padding: 34px 0 33px 0;
                    }
                    view:nth-child(4){
                        padding: 71px 0 72px 0;
                    }
                    view:nth-child(6){
                        padding: 71px 0 72px 0;
                    }
                    view:nth-child(7){
                        padding: 53px 0;
                    }
                    view:nth-child(9){
                        padding: 53px 0;
                    }
                    
                    view:nth-child(11){
                        padding: 43px 0 44px 0;
                    }
                    view:nth-child(12){
                        padding: 53px 0;
                    }
                    view:nth-child(13){
                        padding: 55px 0 56px 0;
                    }
                    view:nth-child(14){
                        padding: 74px 0;
                    }
                    view:nth-child(15){
                        padding: 55px 0 56px 0;
                    }
                    view:nth-child(even){
                        background:rgba(252,251,250,1);
                    }
                   
                }
                .blackul{
                    display: flex;
                    flex-direction: column;
                    width: 200px;
                    .blackitem{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        span:nth-child(1){
                            font-size:28px;
                            font-family:Alibaba PuHuiTi;
                            font-weight:400;
                            color:rgba(255,69,69,1);
                        }
                        span:nth-child(2){
                            font-size:24px;
                            font-family:Alibaba PuHuiTi;
                            font-weight:400;
                            color:rgba(101,101,101,1);
                        }
                        image{
                            width: 104px;
                            height: 19px;
                        }
                    }
                    view{
                        padding: 34px 0 33px 0;
                    }
                    view:nth-child(4){
                        padding: 71px 0 72px 0;
                    }
                    view:nth-child(6){
                        padding: 71px 0 72px 0;
                    }
                    view:nth-child(7){
                        padding: 53px 0;
                    }
                    view:nth-child(9){
                        padding: 53px 0;
                    }
                    
                    view:nth-child(11){
                        padding: 43px 0 44px 0;
                    }
                    view:nth-child(12){
                        padding: 53px 0;
                    }
                    
                    view:nth-child(14){
                        padding: 52px 0;
                    }
                    
                    view:nth-child(even){
                        background:rgba(252,251,250,1);
                    }
                    
                }
            }
        }

        .memberbtn{
            display: flex;
            flex-direction: row;
            margin: 60px 40px 50px 40px;
            justify-content: space-between;
            .diabtn{
                width:320px;
                height:60px;
                text-align: center;
                line-height: 60px;
                background:rgba(255,73,0,1);
                border-radius:30px;
                font-size:30px;
                font-family:Microsoft YaHei;
                font-weight:400;
                color:rgba(255,255,255,1);
            }
            .blabtn{
                width:320px;
                height:60px;
                line-height: 60px;
                text-align: center;
                background:rgba(255,194,85,1);
                border-radius:30px;
                font-size:30px;
                font-family:Microsoft YaHei;
                font-weight:400;        
                color:rgba(126,75,0,1);
            }
        }
        .lookbtn{
            width:690px;
            margin: 0 auto;
            height:60px;
            line-height: 60px;
            font-size:30px;
            font-family:Microsoft YaHei;
            font-weight:400;
            color:rgba(102,102,102,1);
            text-align: center;
            background:rgba(255,255,255,1);
            border-radius:27px;
            margin-bottom: 50px;
        }
        .chatus{
            font-size:28px;
            font-family:Alibaba PuHuiTi;
            font-weight:400;
            color:rgba(255,255,255,1);
            margin: 0 0 17px 190px;
            image{
                margin-right: 10px;
                width: 32px;
                height: 27px;
            }
        }

        .getbtn{
            position: fixed;
            left: 0;
            bottom: 0;
            width:100%;
            height:98px;
            line-height: 98px;
            text-align: center;
            font-size:36px;
            font-family:PingFangSC;
            font-weight:500;
            color:rgba(126,75,0,1);
            background:rgba(250,204,52,1);
        }
        .membertip{
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba($color: #000000, $alpha: 0.5);
            .tipbox{
                width:600px;
                height:300px;
                background:rgba(255,255,255,1);
                border-radius:5px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .btn{
                    width:130px;
                    height:50px;
                    line-height: 50px;
                    text-align: center;
                    font-size:26px;
                    margin-top: 50px;
                    font-family:Microsoft YaHei;
                    font-weight:400;
                    color:rgba(255,255,255,1);
                    background:linear-gradient(-90deg,rgba(255,136,95,1) 0%,rgba(255,96,95,1) 100%);
                    border-radius:11px;
                    display: inline-block;
                }
            }
        }

    }
    
}