page {
	// background:#f6f6f6;
	margin-bottom: 200px;
	.user-top {
		display:flex;
		position:relative;
		width:100%;
		height:240px;
		background:#fff;
		margin-top:24px;
		border-radius:12px;
		// box-shadow:0 10px 10px -5px rgba(0,0,0,0.2);
		.avatar-img {
			position:absolute;
			margin-top:50px;
			margin-left:45px;
			width:145px;
			height:145px;
			border-radius:50%;
			box-shadow:rgba(0,0,0,0.3) 0 0 20px;
		} 
		.user-con {
			// margin-left:270px;
			margin-top:70px;
			margin-left: 200px;
		 
			font-size:28px;
			color:#888;
			.info-wrap {
				height:60px;
				line-height:60px;
				position: relative;
				padding-left: 40px;
			}
			.img {
				width:27px;
				height:27px;
				margin-right:15px;
				position: absolute;
				left: 0;
				top:16px;
			}
			.img-phone {
				width:18px;
			}
			.wrap2 {
			}
		}
	}
	.package-warp{
		width:680px;
		height:160px;
		background:linear-gradient(-90deg,rgba(255,95,92,1),rgba(255,199,199,1));
		box-shadow:0px 9px 10px 0px rgba(252,78,50,0.09);
		border-radius:12px;
		box-sizing: border-box;
		display: flex;
		// justify-content: center;
		padding: 0 50px;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.member-info{
			display: flex;
			flex-direction: column;
			.member-t{
				display: flex;
				align-items: center;
				.member-type{
					font-size:30px;
					font-family:PingFangSC;
					font-weight:700;
					color:rgba(252,78,50,1);
				}
				.member-icon{
					width:45px;
					height:41px;
					margin-left: 10px;
					margin-top: 10px;
				}
			}
			.end-time{
				font-size:24px;
				font-family:AlibabaPuHuiTi;
				font-weight:400;
				color:rgba(255,255,255,1);
				margin-top: 10px;
			}
		}
		.look-over{
			width:140px;
			height:40px;
			line-height: 40px;
			text-align: center;
			background:linear-gradient(-40deg,rgba(242,246,251,1) 0%,rgba(253,220,220,1) 100%);
			border-radius:12px;
			font-size:24px;
			font-family:Microsoft YaHei;
			font-weight:400;
			color:rgba(252,78,50,1);
			z-index: 10;
		}
		.dia-icon{
			width: 97px;
			height: 97px;
			position: absolute;
			right: 5px;
			top: 45px;
		}
	}

	.black-warp{
		width:680px;
		height:160px;
		background:linear-gradient(-90deg,rgba(48,48,48,1),rgba(126,126,126,1));
		box-shadow:0px 1px 10px 0px rgba(255,167,104,0.34);
		
		border-radius:12px;
		box-sizing: border-box;
		display: flex;
		// justify-content: center;
		padding: 0 50px;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.member-info{
			display: flex;
			flex-direction: column;
			.member-t{
				display: flex;
				align-items: center;
				.member-type{
					font-size:30px;
					font-family:PingFangSC;
					font-weight:700;
					color:rgba(255,255,255,1);
				}
				.member-icon{
					width:45px;
					height:41px;
					margin-left: 10px;
					margin-top: 10px;
				}
			}
			.end-time{
				font-size:24px;
				font-family:AlibabaPuHuiTi;
				font-weight:400;
				color:rgba(255,255,255,1);
				margin-top: 10px;
			}
		}
		.look-over{
			width:140px;
			height:40px;
			line-height: 40px;
			text-align: center;
			background:linear-gradient(-40deg,rgba(220,167,73,1) 0%,rgba(255,194,85,1) 100%);
			border-radius:12px;
			font-size:24px;
			font-family:Microsoft YaHei;
			font-weight:400;
			color:rgba(131,78,0,1);
			z-index: 10;
		}
		.dia-icon{
			width: 97px;
			height: 97px;
			position: absolute;
			right: 5px;
			top: 45px;
		}
	}

	.nomember-warp{
		width:680px;
		height:160px;
		background:linear-gradient(-90deg,rgba(48,48,48,1),rgba(126,126,126,1));
		box-shadow:0px 1px 10px 0px rgba(255,167,104,0.34);
		
		border-radius:12px;
		box-sizing: border-box;
		display: flex;
		// justify-content: center;
		padding: 0 50px;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.no-info{
			display: flex;
			flex-direction: column;
			span:nth-child(1){
				font-size:30px;
				font-family:PingFang SC;
				font-weight:500;
				color:rgba(255,255,255,1);
			}
			span:nth-child(2){
				margin-top: 20px;
				font-size:24px;
				font-family:Alibaba PuHuiTi;
				font-weight:400;
				color:rgba(250,194,61,1);
			}
		}
		.to-m{
			width:140px;
			height:40px;
			line-height: 40px;
			text-align: center;
			background:linear-gradient(-40deg,rgba(220,167,73,1) 0%,rgba(255,194,85,1) 100%);
			border-radius:12px;
			font-size:24px;
			font-family:Microsoft YaHei;
			font-weight:400;
			color:rgba(131,78,0,1);
			z-index: 10;
		}
		.no-icon{
			width: 97px;
			height: 97px;
			position: absolute;
			right: 5px;
			top: 45px;
		}
	}


	.get-member{
		width:690px;
		height:120px;
		// background:linear-gradient(74deg,rgba(255,105,36,1) 0%,rgba(255,63,19,1) 100%);
		// border-radius:60px;
		margin-top: 24px;
	}
	.arrow-img {
			position:absolute;
			// top:50%;
			top: 38%;
			margin-top:-12px;
			right:78px;
			width:13px;
			height:25px;
	}
	.item-wrap {
			margin-top:33px;
			.contact {
				padding: 0;
				text-align: left;
				&::after{
					border: none;
				}
			}
			.item {
				position:relative;
				margin-bottom:2px;
				width:100%;
				background:#fff;
				height:84px;
				// line-height:84px;
				display: flex;
				align-items: center;
				color:#333;
				font-size:30px;
				box-sizing:border-box;
				padding-left:28px;
				border-bottom: 1px solid #f6f6f6;
				.imgs {
					width:44px;
					height:42px;
					vertical-align:middle;
				}
				.title {
					font-size:30px;
					font-family:PingFang SC;
					font-weight:400;
					color:rgba(52,52,52,1);
					margin-left:36px;
				}
				.img {
					position:absolute;
					top:50%;
					margin-top:-12px;
					right:78px;
					width:13px;
					height:25px;
				}
			}
	}

	.get-btn{
		position: fixed;
		left: 0;
		bottom: 0;
		width:100%;
		height:98px;
		line-height: 98px;
		text-align: center;
		font-size:36px;
		font-family:PingFangSC;
		font-weight:500;
		color:rgba(126,75,0,1);
		background:rgba(250,204,52,1);
	}

}